<link rel="stylesheet" href="/ppt/template/style.css">
<section style='padding-top:10px;'>
    <style>
    .compare{
        max-width:none !important;
    }
    </style>
    <div class="content compare">
        <h1 id="introduction">引擎渲染速度测试</h1>
        <p> 100 条数据 × 10000 次渲染测试 [escape:false, cache:true]</p>
        <a href='http://aui.github.io/artTemplate/test/test-speed.html'>http://aui.github.io/artTemplate/test/test-speed.html</a>
        <h2 style='margin-top: 30px;'>Chrome 版本 38.0.2125.111</h2>
        <img alt='' src='/ppt/template/compare_chrome.png'/>
        <h2 style='margin-top: 0;'>Firefox 版本 33.0.2</h2>
        <img alt='' src='/ppt/template/compare_ff.png'/>
        <h2 style='margin-top: 0;'>Safri 版本 7.0.6 (9537.78.2)</h2>
        <img alt='' src='/ppt/template/compare_safri.png'/>
        <h2 style='margin-top: 0;'>ie8（8.0.6001.18702）</h2>
        <img alt='' src='/ppt/template/compare_ie8.png'/>
    </div>
</section>


